<body>
<div class="all-wrapper menu-top">
  <div class="layout-w">

    <%= render 'layouts/header' %>

    <div class="content-w">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_path %>">Home</a></li>
        <li class="breadcrumb-item"><a href="<%= admin_redeems_path %>">User Redeem Requests</a></li>
      </ul>

      <div class="content-i">
        <div class="content-box">
          <div class="element-wrapper"><h6 class="element-header">User Redeem Requests</h6>
            <div class="element-box">
              <h5 class="form-header">User Redeem Requests List</h5>
              <div class="table-responsive">
                <table id="redeems-table" width="100%" class="table table-striped table-lightfont" data-source="<%= admin_user_redeems_path(@user) %>">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Coins</th>
                    <th>Mode</th>
                    <th>User</th>
                    <th>Status</th>
                    <th>Created On</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="display-type"></div>
</div>
</body>